<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS | Latiham</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>



</head>

<body>
    <div id="app">
        <h1>Add user</h1>

        <div>

            <p v-for="(item, index) in komen">
                <button type="button">+</button>
                <button type="button">-</button>
                {{ item }} ||

            </p>


        </div>

        <textarea type="text" v-on:keyup.enter="submit" v-model="komenbaru"></textarea>


    </div>

    <script>
        var posts = new Vue({
            el: '#app',
            data: {

                komen: ['komen 1'],
                komenbaru: '',
                tgl: ['20-04-2020'],
                tglbaru: ''
            },
            methods: {
                submit: function (event) {

                    this.komen.push(this.komenbaru)
                    this.komenbaru = ''
                    this.tgl.push('21-04-2020')

                    // name: '',
                    // tgl: '20-05-2020'

                }
            }
        });
    </script>
</body>

</html>